---
import "../styles/global.css";
---

<html lang="pt-BR" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AsteraComm - Softswitch</title>
  </head>
  <body class="h-full flex flex-col font-medium">
    <div class="flex flex-1 min-h-0 overflow-hidden">
     
      <!-- Sidebar -->
      <aside class="w-64 bg-[#373737] p-2 border-r border-indigo-200 overflow-y-auto shadow">
        <h1 class="px-3 py-2 text-white font-semibold text-2xl">ASTERACOMM</h1>

        <hr class="border-t border-gray-500 my-4" />

        <nav class="space-y-2 text-[#cdcdcd] font-semibold">
            <a href="/circuits" class="block px-3 py-2 rounded hover:text-white hover:bg-[#666666] transition">Circuitos</a>
        </nav>
      </aside>

      <!-- Main Content -->
      <main class="flex-1 p-8 overflow-y-auto">
        <slot />
      </main>
    </div>
  </body>
</html>

