---

import "../styles/global.css";
const { title = 'AsteraComm - Softswitch' } = Astro.props;

---

<html lang="pt-BR" class="h-full bg-gray-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body class="h-screen flex flex-col font-medium">
 
        <div class="flex flex-1 overflow-hidden h-full">
     
            <!-- Sidebar -->
            <aside class="w-64 bg-zinc-800/90 p-2 border-r border-indigo-200 shadow h-full flex flex-col">
                <a href="/" ><img class="px-3 pt-2" src="/images/logo.png" alt="Logo AsteraComm"></a>
                <hr class="border-t border-gray-500 my-4" />

                <nav class="text-[#cdcdcd] font-semibold flex flex-1 flex-col justify-between overflow-hidden h-full">
                    <div>
                        <nav class="space-y-2 ">
                            <a href="/" class="block px-3 py-2 rounded hover:text-white hover:bg-zinc-600 transition">Dashboard</a>
                            <a href="/circuits" class="block px-3 py-2 rounded hover:text-white hover:bg-zinc-600 transition">Circuitos</a>
                        </nav>
                    </div>

                    <div>
                        <a id="buttonLogout" href="#" class="block px-3 py-2 rounded hover:text-white hover:bg-zinc-600 transition">Sair</a>
                    </div>

                </nav>

            </aside>

            <!-- Main Content -->
            <main class="flex-1 p-8 overflow-y-auto">
                <slot />
            </main>
            
            <script type="module">
                document.getElementById('buttonLogout')?.addEventListener('click', async () => {
                    await fetch('/api/auth/logout', { method: 'GET' });
                    window.location.href = '/login';
                });
            </script>

        </div>
    </body>
</html>

